<%- include("header") -%>

<h1>Well this is Priyanka</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, aliquid soluta veritatis, minima, provident placeat vel porro voluptates quam voluptate voluptatem labore. Molestias alias id hic optio officia earum quia.</p>
<%- include("footer") -%>